<h1> All Tools </h1>
  <table>
  <tr>
  <td> Tool </td>
  <td> Quantity </td>
</tr>
<% @tools.each do |tool|  %>
<tr>
  <!--  view helper-->
<td><%= link_to "#{tool.name}", tool_path(tool.id) %></td>
<td><%= tool.quantity %></td>
</tr>
<% end %>
</table>
